<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule "^en/2017/04/07/provenance/$" "/en/2017/04/07/what-is-provenance" [R] 
RewriteRule "^ecodalo-video$" "https://vimeo.com/374617281" [R]
RewriteRule "^phd-registration" "https://docs.google.com/forms/d/e/1FAIpQLSfRgxnOI7CFtTZEirRWpXM7vrAp4SQR-yeQoXP6tWd7GMu_xQ/viewform" [R]
RewriteRule "^phd-livestream" "https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZGE2NDEwMWMtYjM1YS00ZGUxLWEzMWMtZmI1MTdhMThiMzE2%40thread.v2/0?context=%7b%22Tid%22%3a%22d7811cde-ecef-496c-8f91-a1786241b99c%22%2c%22Oid%22%3a%220d4150ae-a08b-4705-979f-618551b1aa85%22%7d"
RewriteRule "^phd" "/en/publication/phd.pdf"
</IfModule>

Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks

AddType text/turtle .ttl

Options -MultiViews
RewriteBase /profile

# Rewrite engine setup
RewriteEngine On

# HTML
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml

# TTL
RewriteCond %{HTTP_ACCEPT} text/turtle
RewriteRule ^profile$ profile.ttl [R=302,L]

# DEFAULT
RewriteRule ^profile$ profile.ttl [R=302,L]

