<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  {{- if site.Params.features.search.provider }}
  "potentialAction": {
    "@type": "SearchAction",
    "target": {{ printf "%s?q={search_term_string}" site.BaseURL }},
    "query-input": "required name=search_term_string"
  },
  {{end -}}
  "url": {{site.BaseURL}},
  "about": {
    "@type": "Person",
    "name": {{ site.Params.metadata.name }},
    "givenName": {{ site.Params.metadata.givenName }},
    "familyName": {{ site.Params.metadata.familyName }},
    "sameAs": [
    {{ range $sameasIndex, $sameasRecord := (site.Params.metadata.sameas) }}
      {{- if gt $sameasIndex 0 }}, {{ end -}}
      {{ $sameasRecord.link }}
    {{ end }}
    ]
  }
}
</script>
